<div class="height-10 w-100 shadow-lg px-4 bg-brand-gradient">
    <div class="d-flex align-items-center container p-0">
        <div class="page-logo width-mobile-auto m-0 align-items-center justify-content-center p-0 bg-transparent bg-img-none shadow-0 height-9">
            <a href="javascript:void(0)" class="page-logo-link press-scale-down d-flex align-items-center">
                <img src="./assets/img/loguito.png" alt="CentinelaBot - WebApp" aria-roledescription="logo">
                <span class="page-logo-text mr-1">CentinelaBot - WebApp</span>
            </a>
        </div>

        <div *ngIf="login" class="ml-auto">
            <button routerLink="/registro" 
                    type="button" 
                    class="btn btn-success btn-block btn-md">
                    Regístrate</button>
        </div> 

        <div *ngIf="!login" class="ml-auto">
            <button routerLink="/login" 
                    type="button" 
                    class="btn btn-success btn-block btn-md">
                    Logueate</button>
        </div> 

    </div>
</div>

<!-- [routerLink]="['/registro']" -->


